body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Navigation Bar */

#home {
  background-color: #7600bc;
  padding-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-top: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
}

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
  /* Add the styles here */
  font-weight: bolder;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  /* Add the styles here */
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width: 25px;
  margin-right: 10px;
  float: left;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #7600bc;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
}

/* About Me */

.about-me {
  display: flex;
  align-items: center;
}

#about-me h1 {
  font-size: 50px;
  margin-top: 90px;
  color: #7600bc;
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
}

.profile_image {
  width: 450px;
  height: 550px;
  /* vertical-align: middle; */
  margin: 5px;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}
.all_certificates {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.certificates {
  border: 2px solid gray;
  width: 4in;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  box-shadow: 0 5px 10px rgb(97, 95, 98);
}
.certificates img {
  height: 3in;
  align-items: center;
}
.project_img {
  border: 2px solid gray;
  width: 5.8in;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  box-shadow: 0 5px 10px rgb(97, 95, 98);
}
.skill img {
  height: 70px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Scroll to Top Button */

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

.gitbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #7600bc;
  border: 1px solid #7600bc;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
